.container {
  flex: 1;
}

.container button {
  border-radius: 0;
}

.boxs div {
  background-color: #fa2c5a;
  color: white;
  padding: 3px;
}

.upload {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(215, 215, 215);
}

.upload img{
  object-fit: cover;
}
.button {
  background-color: green;
  border-radius: 0;
}

.inputFoto{
  display: none;
}
