.container_detail_pesanan {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap : 10px; */
}

.container_detail_pesanan div{
  /* background-color: red; */
}

.content{

  flex: 2;
  height: 400px;
} 

.sidebar{
  flex: 1;
  /* height: 400px; */
}

.button_bayar{
  border-radius: 0;
}

@media(max-width : 600px){
  .container{
    flex-direction: column;
  }
}