.containerOurService{
    padding : 100px 20px;

}


.containerFaq{
    margin-top: 104px;
}


.containerFooter{
    margin-top: 50px;
}
.containerCtaBanner{
    margin-top : 66px;
}

@media (min-width : 768px){
    .containerOurService{
        padding : 100px 0;
    }

    .containerCtaBanner{
        margin-top : 106px;
    }
}