.container{
    width: 100%;
    padding-bottom : 116px;
}

.containerOurService{
    padding : 100px 20px;

}





@media (min-width : 768px){
    .containerOurService{
        padding : 100px 0;
    }

    .containerCtaBanner{
        margin-top : 106px;
    }
}